<div class="row">
  <div class="col-md-8">
    <h3 ng-if="main.myVar == true">Population Stats for {{main.gender}} in {{main.countryData.Name}} for year {{main.year}}</h3>
    <h3 ng-if="main.myVar == false">Population Stats for {{main.countryData.Name}} in year {{main.year}}</h3>
  </div>
  <div class="col-md-4">
    <ul class="nav nav-tabs pull-right">
      <li role="presentation"><a href="#/" class="btn btn-primary">Population</a></li>
      <li role="presentation"><a href="#/percent" class="btn btn-primary">Percentage</a></li>
    </ul>
  </div>
</div>

<hr>
<highchart id="chart1" config="main.chartConfig"></highchart>

<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="row">
        <form role="form">
          <div class="form-group">
            <div class="col-md-4">
              <label>Select the country:</label>
              <select ng-model="main.countryData" ng-change="main.getData()" class="form-control"
              ng-options="country.Name for country in main.countryList track by country.Code">
              </select>
            </div>
            <div class="col-md-4">
              <label>Select the year:</label>
              <select ng-model="main.year" ng-change="main.getData()" class="form-control">
                <option ng-repeat="year in main.years" value="{{year}}">{{year}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Select the gender:</label>
              <select ng-model="main.sex" ng-change="main.getData()" class="form-control">
                <option value="0">Both</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="col-md-4 text-center">
      <a href="#/rawdata" id = "viewDataButton" ng-click="main.getData()" class="btn btn-info">View Raw Data</a>
    </div>

  </div>

</div>
