<div class="row">
  <div class="col-md-8">
    <h3>Population Inc/Dec for {{percent.countryData.Name}} from year {{percent.year1}} to {{percent.year2}}</h3>
  </div>
  <div class="col-md-4">
    <ul class="nav nav-tabs pull-right">
      <li role="presentation"><a href="#/" class="btn btn-primary">Population</a></li>
      <li role="presentation"><a href="#/percent" class="btn btn-primary">Percentage</a></li>
    </ul>
  </div>
</div>

<hr>
<highchart id="chart1" config="percent.chartConfig"></highchart>


<div class="container">
  <div class="row">

    <div class="col-md-8">
      <form role="form">
        <div class="form-group">
          <div class="col-md-4">
            <label>Select the country:</label>
            <select ng-model="percent.countryData" ng-change="percent.getData()" class="form-control"
            ng-options="country.Name for country in percent.countryList track by country.Code">
            </select>
          </div>
          <div class="col-md-4">
            <label>Select year one:</label>
            <select ng-model="percent.year1" ng-change="percent.getData()" class="form-control">
              <option ng-repeat="year in percent.years" value="{{year}}">{{year}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Select year two:</label>
            <select ng-model="percent.year2" ng-change="percent.getData()" class="form-control">
              <option ng-repeat="year in percent.years" value="{{year}}">{{year}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-4 text-center">
      <a href="#/rawdata" id = "viewDataButton" class="btn btn-info">View Raw Data</a>
    </div>

  </div>

</div>
